<div class="stats">
    {{#each this}}
    <section class="stats">
        <div class="meta">
        {{user.username}}
        </div> 
        <div class="statbuttons">
            {{height}}
        </div>
    </section>
    {{/each}}
</div>