<div class="stats">
    {{log stats}}
    <section class="stats">
        <div class="meta">
        {{user.username}}
        </div> 
        <div class="statbuttons">
            {{height}}
        </div>
    </section>
</div>