 <div class="card">
    <a href="/workout"><img src="/assets/workout.png" alt="Avatar" style="width:10%"></a>
    <div class="container">
      <h4><b>Workout</b></h4>
      <p>Look at workouts!</p>
    </div>
  </div>
<div class="card">
  <a href="/mealapi"><img src="/assets/meals.png" alt="Avatar" style="width:10%"></a>
  <div class="container">
    <h4><b>Meals</b></h4>
    <p>Plan meals, Find Recipes</p>
  </div>
</div>
<div class="card">
  <a href="/stats"><img src="assets/stats.png" alt="Avatar" style="width:10%"></a>
  <div class="container">
    <h4><b>Stats</b></h4>
    <p>View Your Stats</p>
  </div>
</div>