<form class="new-post-form">
    <div>
      {{user.username}}
      <input type="text" id="stat-height" name="stat-height" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>